body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/background.jpeg);
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: darkolivegreen;
    font-size: 3.5em;
    margin: 0 auto;
}
p {
    color: #141414;
    margin: 5px auto;
    font-size: 1.75em;
    background-color: darkslategray;
    width: 220px;
    padding: 5px 10px; 
    border-radius: 15px;
    border: 1px solid #141414;
    box-shadow: 1px 1px #141414;
}
#game-wrap {
    width: fit-content;
    height: fit-content;
}
#game-container {
    display: flex;
    width: fit-content;
    height: fit-content;
}
.column {
    height: fit-content;
    height: fit-content;
}
.top {
    width: 50px;
    height: 50px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid darkslategray;
}
.red {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #800000;
    position: relative;
}
.black {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #141414;
    position: relative;
}
#winner {
    margin-bottom: 40px;
}
#winner h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 15px auto;
}
#reset {
    font-size: 1em;
    width: 125px;
    height: 50px;
    border-radius: 20px;
    background-color: darkolivegreen;
    border: 1px solid #141414;
    box-shadow: 1px 1px #800000;
}

